
.zombie-col {
  $class: col-;
  @for $n from 1 through 24 {
    &.#{$class}#{$n} {
      width: ($n / 24) * 100%
    }
  }
  $class-offset: offset-;
  @for $n from 1 through 24 {
    &.#{$class-offset}#{$n} {
      margin-left: ($n / 24) * 100%
    }
  }
  @media (max-width: 768px) {
    $class: col-phone-;
    @for $n from 1 through 24 {
      &.#{$class}#{$n} {
        width: ($n / 24) * 100%
      }
    }
    $class-offset: offset-phone-;
    @for $n from 1 through 24 {
      &.#{$class-offset}#{$n} {
        margin-left: ($n / 24) * 100%
      }
    }
  }
  @media (min-width: 769px) {
    $class: col-ipad-;
    @for $n from 1 through 24 {
      &.#{$class}#{$n} {
        width: ($n / 24) * 100%
      }
    }
    $class-offset: offset-ipad-;
    @for $n from 1 through 24 {
      &.#{$class-offset}#{$n} {
        margin-left: ($n / 24) * 100%
      }
    }
  }
  @media (min-width: 993px){
    $class: col-narrow-pc-;
    @for $n from 1 through 24 {
      &.#{$class}#{$n} {
        width: ($n / 24) * 100%
      }
    }
    $class-offset: offset-narrow-pc-;
    @for $n from 1 through 24 {
      &.#{$class-offset}#{$n} {
        margin-left: ($n / 24) * 100%
      }
    }
  }
  @media (min-width: 1201px){
    $class: col-pc-;
    @for $n from 1 through 24 {
      &.#{$class}#{$n} {
        width: ($n / 24) * 100%
      }
    }
    $class-offset: offset-pc-;
    @for $n from 1 through 24 {
      &.#{$class-offset}#{$n} {
        margin-left: ($n / 24) * 100%
      }
    }
  }
  @media (min-width: 1921px){
    $class: col-wide-pc-;
    @for $n from 1 through 24 {
      &.#{$class}#{$n} {
        width: ($n / 24) * 100%
      }
    }
    $class-offset: offset-wide-pc-;
    @for $n from 1 through 24 {
      &.#{$class-offset}#{$n} {
        margin-left: ($n / 24) * 100%
      }
    }
  }
}
